---
http_interactions:
- request:
    method: post
    uri: https://api.cloud.appcelerator.com/v1/users/login.json?key=KVJOFzVqhJwchXFYnAT1tb0YSTGjqoPS
    body:
      encoding: US-ASCII
      string: login=graham.hadgraft@gmail.com&password=mxey5824
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      ETag:
      - '"fd82cb93c5fbd898c26b9bfbbf2bf7cf"'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200,"status":"ok","method_name":"loginUser","session_id":"TUsSwSZMWV41jKV2KRLGFnGXvEk"},"response":{"users":[{"id":"53e0c1fd7fd3647be00070fe","first_name":"Graham","last_name":"Hadgraft","created_at":"2014-08-05T11:37:33+0000","updated_at":"2014-09-16T17:58:49+0000","external_accounts":[],"confirmed_at":"2014-08-05T11:37:33+0000","username":"g_hadgraft","role":"Admin","admin":"false","stats":{"photos":{"total_count":0},"storage":{"used":0}},"email":"graham.hadgraft@gmail.com"}]}}'
      effective_url: https://api.cloud.appcelerator.com/v1/users/login.json?key=KVJOFzVqhJwchXFYnAT1tb0YSTGjqoPS
  recorded_at: Tue, 16 Sep 2014 17:58:49 GMT
recorded_with: VCR 2.9.2
