---
http_interactions:
- request:
    method: post
    uri: https://api.cloud.appcelerator.com/v1/users/login.json?key=KVJOFzVqhJwchXFYnAT1tb0YSTGjqoPS
    body:
      encoding: US-ASCII
      string: login=graham.hadgraft@gmail.com&password=mxey5824
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      ETag:
      - '"178a34c240e6bf79dced507c5dc778cd"'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200,"status":"ok","method_name":"loginUser","session_id":"NKHcZ-nLtheutoMBLI9zNpm40Gs"},"response":{"users":[{"id":"53e0c1fd7fd3647be00070fe","first_name":"Graham","last_name":"Hadgraft","created_at":"2014-08-05T11:37:33+0000","updated_at":"2014-09-16T19:26:40+0000","external_accounts":[],"confirmed_at":"2014-08-05T11:37:33+0000","username":"g_hadgraft","role":"Admin","admin":"false","stats":{"photos":{"total_count":0},"storage":{"used":0}},"email":"graham.hadgraft@gmail.com"}]}}'
      effective_url: https://api.cloud.appcelerator.com/v1/users/login.json?key=KVJOFzVqhJwchXFYnAT1tb0YSTGjqoPS
  recorded_at: Tue, 16 Sep 2014 19:26:40 GMT
- request:
    method: get
    uri: http://ojp.nationalrail.co.uk/service/ldbboard/dep/IPS/SMK/To
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - text/html;charset=ISO-8859-1
      Last-Modified:
      - Tue, 16 Sep 2014 19:26:41 GMT
    body:
      encoding: UTF-8
      string: "\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\n<!DOCTYPE
        html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\" xml:lang=\"en\">\n<head>\n
        \   <title>National Rail Enquiries - Live Departure Boards</title>\n    <script
        type=\"text/javascript\">document.documentElement.className += \" jq js\";</script>\n
        \   \n    <meta http-equiv=\"Content-Language\" content=\"en-gb\" />\n    <meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\" />\n
        \   <meta name=\"description\" content=\"The gateway to Britain's National
        Rail network. A portal into UK rail travel including train company informat[...]
